.list {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .tripItem {
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 10px 14px 44px 0px rgba(0, 0, 0, 0.08);
    padding: 10px 16px;

    .preview {
      display: flex;
      justify-content: space-between;

      .previewInfo {
        .company {
          color: #4b4b4b;
          font-size: 12px;
          text-transform: capitalize;
          &.opened{
            color: #386d66;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: 0.026px;
            padding: 10px 0;
          }
        }
        .distance {
          color: #386d66;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 600;
          line-height: 140%;
          letter-spacing: 0.026px;

          &.hide{
            display: none;
          }
        }
      }

      .preview_action {
        display: flex;
        gap: 6px;
        max-height: 38px;

        .status {
          padding: 10px 30px;
          border-radius: 6px;
          outline: none;
          border: 1px solid #949494;
          color: #949494;
          background: #fff;
          font-size: 15px;
          letter-spacing: 0.15px;

          &.reject {
            border-color: #d83838;
            color: #d83838;
          }

          &.inProgress {
            border-color: #5cc0d4;
            color: #5cc0d4;
          }

          &.delivered {
            border-color: #4d913c;
            color: #4d913c;
          }
        }
      }

      .more {
        width: 40px;
        border-radius: 6px;
        outline: none;
        border: 1px solid #949494;
        color: #949494;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          transition: 300ms linear transform;
        }

        &.opened {
          svg{
            transition: 300ms linear transform;
            transform: rotate(180deg);
          }
        }
      }
    }

    .detailedInfo{
      margin: 20px 0 10px;

      .group_info{
        display: flex;
        gap: 50px;
        .infoItem{
          flex: 1;
          margin-bottom: 10px;

          .label{
            color: #6A6A6A;
            font-style: italic;
            font-size: 14px;
          }
          .value{
            font-size: 16px;
            font-weight: 500;
          }

          & > div:first-child{
             margin-bottom: 20px;
          }

          div:last-child{
            display: flex;
            align-items: end;
            gap: 20px;
          }
        } 

        .payment, .note{
          display: flex;
          align-items: end;
          margin: 16px 0;
          gap: 20px;

          .label{
            color: #6A6A6A;
            font-style: italic;
            font-size: 14px;
          }
          .value{
            font-size: 16px;
            font-weight: 500;
          }
        }

        .payment{
          flex: 1;
         
          .value{
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
        .note{
          flex: 2;
          margin-left: -25px;
        }
      }
    }

    .tripActions{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 6px;

      button{
        width: 38px;
        height: 38px;
        border-radius: 6px;
        background-color: #fff;
        outline: none;
        border: 1px solid rgb(96, 94, 94);
        cursor: pointer;

        svg{
          width: 30px;
          path{
            fill: rgb(96, 94, 94);
          }
        }
      }
    }
  }
}

.no_data{
  display: flex; 
  align-items: center; 
  min-height: 350px;
  text-wrap: balance;
  font-size: 18px;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  color: #386d66;
  font-weight: 600;
  font-style: italic;
}