.unauthorized { 
  background-color: var(--block-bg);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;

  .message {
    position: relative;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-wrap: balance;
    
    span {
      color: var(--accent-color);
      font-weight: 600;
    }

    svg {
      position: absolute;
      right: -162px;
      top: 14px;
    }
  }

  button {
    padding: 16px 34px;
    background-color: var(--block-bg);
    border-radius: 16px;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    font-weight: 600;
    text-transform: uppercase;
    transition: 500ms linear background-color, 500ms linear color;
    cursor: pointer;

    &:hover {
      background-color: var(--accent-color);
      color: var(--block-bg);
      transition: 500ms linear background-color, 500ms linear color;
    }
  }
}
