
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 26px 50px;

  .menuItem {
    cursor: pointer;
    a {
      text-decoration: none;
      color: inherit;
    }

    &.current {
      a {
        color: var(--accent-color);
        font-weight: 500;
      }
    }
  }
}

@media (width < 600px) {
  .menu {
    gap: 16px;
  }

  .menu {
    padding: 16px 20px;
  }
}


