.trip_form{
  flex: 1;
  min-height: 500px;
  padding: 24px 30px;
  background-color: var(--block-bg);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field_row{
  margin: 10px 0;

  label{
    display: block;
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
  }

  input{
    width: 100%;
    padding: 8px 12px;
    border: none;
    border-bottom: 1px solid var(--light-grey);
    outline: none;

    &::placeholder{
      font-style: italic;
      color: lightgray;
    }
  }

  textarea{
    width: 100%;
    min-height: 80px;
    border-radius: 6px;
    border-color: var(--light-grey);
    outline: none;
    padding: 16px;
  }
}

.group{
  display: flex;
  gap: 6px;
}

.action{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;

  button{
    border: none;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
    
    &:first-child{
      padding: 10px 20px;
      color: grey;
    }
    
    &:last-child{
      padding: 10px 36px;
      text-transform: uppercase;
      border-radius: 8px;
      color: #fff;
      font-weight: 500;
      background-color: #5B5B5B;
    }
  }
}